
    ul li a{
      text-decoration: none;
      color: black;
      font-size: 18px;
      border: 1px solid black;
      margin: 5px;
      padding: 10px;
    }
    ul li{
      display: inline;
    }

img {
  display: block;
  float: center;
}

h1 {
font-size:150px; text: center; Font-family:helvetica
}

p { 
font-size:40px; text-align:center; font-family:helvetica
}

#list li {
font-size:20px; font-family:helvetica; margin-left: 150px; display: block; list-style-type: circle;}

div {
border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
	}